<h1>Payment Results</h1>

<h4>APR</h4>
<p>
<%= number_to_percentage(@apr, precision: 4) %>
</p>

<h4>Number of years</h4>
<p>
<%= @years %>
</p>

<h4>Principal</h4>
<p>
<%= number_to_currency(@principal) %>
</p>

<h4>Payment</h4>
<p>
<%= number_to_currency(@payment) %>
</p>



