<h1>Payment Results</h1>

<h4>APR</h4>
<p>
<%= @apr %>%
</p>

<h4>Number of years</h4>
<p>
<%= @years %>
</p>

<h4>Principal</h4>
<p>
$<%= @principal %>
</p>

<h4>Payment</h4>
<p>
$<%= @payment %>
</p>



