<h1>Square Root Calculation</h1>

<form action="/square_root/results">
    <div>
    <label for="enter_number">
        Enter a number
    </label>
    <input id="enter_number" type="text" name="user_num" placeholder="What number do you want take the square root of?">
    </div>
    <button>Calculate square root</button>
</form>